@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf);
    font-weight: 400;
}
